@model List<ProyectoMVC.Models.Herramientas>

@{
    ViewBag.Title = "Herramientas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventario de Herramientas</h2>


<div class="row" style="margin-top:38px">
    <div class="col-sm-12">
        <div class="panel panel-warning">

            <div class="panel-heading">
                <h4>Lista de contacto</h4>

            </div>
            <div class="panel-body">
                <a class="btn btn-success" href="@Url.Action("Registrar", "Herramienta")">Crear Nuevo</a>
                <hr />
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Cantidad</th>
                                <th>Herramienta</th>
                                <th>Descripcion</th>
                                <th style="width:150px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ProyectoMVC.Models.Herramientas item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Cantidad</td>
                                    <td>@item.Herramienta</td>
                                    <td>@item.Descripcion</td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>
</div>

